/* backgrounds */

.bg-all { background-color: #9FC5F8 }
.bg-menu { background-color: #CCC }
.bg-content { background-color: #597EAA }

.menu div { padding: 5% 15% 5% 15% }
.cmd-item { background-color: #FFD966; border: solid 1px black; font-weight: bold }
.min-border-white { border: solid 1px white }
.margin-top-and-bottom-10 { margin-top: 10%; margin-bottom: 10%; }
.cmd-item a { color: #000 }
.cmd-item:hover { border: solid 1px #FFD966; }
.radius-10 { border-radius: 10px }
.simple-border-black { border: solid 2px black }
.simple-border-red { border: solid 5px red }
.offset-top-and-bottom-1 { padding: 1% 0px 1% 0px }
.offset-top-and-bottom-15 { padding-top: 15%; padding-bottom: 15% }
.full-height { height: 100% }